
        header {
            background-color: grey;
            border-radius: 10px;
            width: 100%;
            
        }
        body {
    background-color: rgb(50 150 130);
        }
        .specs {
            display: flex;
            justify-content: space-evenly;
        }
        .navigation-bar {
            display: flex;
            justify-content: space-around;
            padding-bottom: 10px;
        }
        .title-pic {
            display: flex;
            justify-content: center;
        }
        .vehicle {
            width: 90%;
            margin: auto;
        }
        .album {
            height: 200px;
            display: flex;
            justify-content: center;
        }
        .photo {
            height: 200px;
        }
        a {
            color: black;
        }
  