
.title-div  {
 display: flex;
 background-color: pink;
 border-radius: 10px;
 padding: 2%;
 width: 99%;
}
header .profile-picture {
 height: 100px;
 width: 100px;
 padding: 10px;
 border-radius: 100px;
}
.profile {
 margin-left: 2px;
}
header .social-links {
 display: flex;
 margin-left: auto;
 flex-direction: column;
 justify-content: space-between;
 text-align: right;
}
body {
 display: flex;
 flex-direction: column;
 background-color: rgb(128, 70, 136);
 width: 100%;
 min-width: 750px;
}
h1 {
 color: black;
}
h2 {
 color: black;
}
p {
 color: white;
 }
ul {
 color: white;
}
a {
 color: black;
}
#title{
 color: white;
}
.body-container {
 text-emphasis: none;
}
.album {
 display: flex;
 margin: auto;
 padding: 20px;
 width: 100%;
}
