html {
    background-color: rgb(131, 80, 182);
    width: 100%;
}
.title-div  {
 display: flex;
 background-color: pink;
 border-radius: 10px;
 padding: 2%;
 min-width: 750px;
}
.profile-picture {
 height: 100px;
 width: 100px;
 padding: 10px;
 border-radius: 100px;
}
.profile {
 margin-left: 2px;
}
.social-links {
 display: flex;
 margin-left: auto;
 flex-direction: column;
 justify-content: space-between;
 text-align: right;
}
#title {
    color: white
}
main {
    display: flex;
    width: 100%;
    justify-content: center;
}
.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
h1 {
 color: black;
}
h2 {
 color: black;
}
p {
 color: white;
 }
ul {
 color: white;
}
a {
 color: black;
}
.album {
    display: flex;
    width: 100%;
    margin: 5px;
}
input {
    height: 20px;
    max-width: 500px;
    min-width: 100px;
    box-sizing: border-box;
}
textarea {
    height: 150px;
    background-color: black;
    width: 500px;
    
}
.photo-column {
    width: 250px; 
    overflow: hidden;
    margin: 10px;

}


