html {
    width: 100%;
    font-family: Arial;
}
body {
    background-color: rgb(51, 102, 177);
}
main {
    display: flex;
    width: 100%;
    justify-content: center;
}
h1 {
 color: black;
}
h2 {
 color: black;
 margin-top: 5px;
 margin-bottom: 5px;
}
p {
 color: white;
 }
ul {
 color: white;
}
a {
 color: black;
}
code {
    margin: auto;
    justify-content: center;
    width: 100%;
    display: flex;
    background-color: lightgrey;
    border-radius: 10px;
}
h4 {
    margin: 0px;
    color: white;
}
ul {
    margin: 2px;
}
img {
    height: auto;
    width: 100px;
    border-radius: 100%;
    margin-top: 20px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.partner {
    text-align: center;
    align-content: center;
}
.title-div  {
 display: flex;
 background-color: lightgrey;
 border-radius: 10px;
 padding: 2%;
 min-width: 400px;
}
.profile-picture {
 height: 100px;
 width: 100px;
 padding: 10px;
 border-radius: 100px;
}
.profile {
 margin-left: 2px;
}
.social-links {
 display: flex;
 margin-left: auto;
 flex-direction: column;
 justify-content: space-between;
 text-align: right;
}
#title {
    color: white
}
.bioCollection {
    display: flex;
    flex-direction: row;
}
.body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
   margin-left: 25px;
   margin-right: 25px;
   margin-bottom: 20px;
   margin-top: 15px;
}
.bioCollection .bio-container {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}
    
@media screen and (max-width: 750px) {
    .body-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 15px;
    }
    .bio-container {
        display: flex;
        flex-direction: column;
    }
    .bioCollection {
        display: flex;
        flex-direction: column;
    }
    html {
        text-size-adjust: 80%;
    }
}
}