
            header {
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                margin: auto;
                width: 100%;
            }
            .navigation-bar {
                display: flex;
                justify-content: space-evenly;
            }
            .page-container {
                display: flex;
                flex-direction: row;
                margin: auto;
                width: 98%;
            }
            .page-text {
                padding-left: 5px;
                width: 50%;
            }
            body {
                background-color: rgb(72, 183, 187);
            }
            h1 {
                text-align: center;
            }
            a {
                color: black;
            }
            .album {
                width: 50%;
            }
            .photo {
                width: 100%;
            }
            ul h5 {
                line-height: 10px;
            }
            #mod {
                line-height: 50px;
            }
    