
            header {
                background-color: lightblue;
                border-radius: 10px;
                margin: auto;
                width: 100%;
            }
            .navigation-bar {
                display: flex;
                justify-content: space-evenly;
            }
            .page-container {
                display: flex;
                flex-direction: row;
                margin: auto;
                width: 98%;
            }
            .page-text {
                padding-left: 5px;
                width: 50%;
            }
            body {
                background-color: burlywood;
            }
            h1 {
                text-align: center;
            }
            a {
                color: black;
            }
            .album {
                width: 50%;
            }
            .photo {
                width: 100%;
            }
    